* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Formative Trial", "Montserrat";
    background-color: #000;
    color: #fff;
}

/* Inicio do css da section hero */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-banner {
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 85% center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%) scale(1.3);
    transition: all 0.3s ease;
}


.header-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 100;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1.6rem 2.4rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1.2rem;
    display: flex;
    align-items: center;
}

.logo-icon {
    margin-right: .5rem;
}

.btn-icon {
    transform: scale(.8);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    flex: 1;
    gap: .3rem;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    padding: .5em .5rem;
    transition: opacity .3s ease;
}

.nav-links a:hover {
    opacity: .5;
}

.dropdown {
    position: relative;
    text-align: center;
}

.dropdown-content {
    margin-top: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 48, 94);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    list-style: none;
    padding: .5rem .9rem;
    border-radius: 20px;
    min-width: 90px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity .6s ease, transform .6s ease;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content li a {
    display: block;
    padding: .4rem 0;
    color: #eeeeee;
    white-space: nowrap;
}

.nav-links li a:hover,
.dropdown-content li a:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .2);
}

.btn-get-started {
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    padding: .5rem 1.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50px;
    transition: background .3s ease;
}

.btn-get-started:hover {
    background-color: rgba(255, 255, 255, .6);
    transform: translateY(-1px);
}

.btn-get-started:active {
    transform: translateY(0);
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
    margin-left: auto;
}

.hamburger-btn {
    transition: opacity .3s ease-in-out;
    opacity: 1;
}

.nav-links li:last-child {
    margin-left: auto;
}

.hamburger span.last-bar {
    width: 50%;
}

.hero-content {
    position: relative;
    z-index: 1;
    padding-top: 10%;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 900px;
}

.hero-content h2 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2%;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn-shop-now {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 1.2rem 1.6rem;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 400;
    transition: background .3s ease;
}

.btn-shop-now span {
    margin-right: .5rem;
}

.paw-icon {
    transform: scale(.9);
}

.btn-shop-now:hover {
    background-color: rgba(255, 255, 255, .2);
    transform: translateY(-1px);
}

.btn-shop-now:active {
    transform: translateY(0);
}

/* Fim do CSS da section hero */
/* Início do css para shop */
#shop {
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    color: #000;
}

#shop h2 {
    font-weight: 500;
    color: #101828;
    font-size: 2rem;
}

.shop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.shop-tite {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.shop-tite h2 {
    margin: 0;
}

.search-wrapper {
    display: none;
}

.products {
    border: 2px solid rgba(0, 0, 0, .3);
    width: 90%;
    margin: auto;

    h3 {
        padding: 10px 10px;
        font-size: 1.8rem;
    }
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container .search-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.search-container input[type="text"] {
    border: none;
    outline: none;
    background: #F4F4F4;
    margin-left: .5rem;
    font-size: 18px;
}

.search-box {
    margin: 3%;
    display: flex;
    align-items: center;
    background: #F4F4F4;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: .5rem .8rem;
}


.filter-buttons {
    text-align: center;
    margin-bottom: 1.5rem;
}

.filter-buttons .filter-btn {
    font-size: 1rem;
    background-color: transparent;
    color: #000;
    border: none;
    padding: .5rem 1rem;
    margin: 0 .3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.filter-buttons .filter-btn:hover,
.filter-btn.active {
    background: linear-gradient(90deg, #101828 5%, #233250 95%);
    color: #fff;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 2rem auto;
    max-width: 1300px;
}

/* Card básico */
.product-card {
    position: relative;
    color: #000;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.product-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform .3s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}

/* Overlay que aparece ao hover */
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 24, 40, .54);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
}

.product-card:hover .card-overlay {
    opacity: 1;
    visibility: visible;
}

.overlay-content {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.heart-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 24px;
    border: none;
    background: url("../images/heart-outline.png") no-repeat center/contain;
    cursor: pointer;
    transition: transform .2s ease;
}

.heart-btn:hover {
    transform: scale(1.1);
}

.heart-btn.favorited {
    background: url("../images/heart-filled.png") no-repeat center/contain;
}

.product-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 50%;
    text-align: center;
}

.description-label {
    font-size: .9rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    text-align: center;
}

.button-container {
    margin-top: 30%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.quantity-selector {
    display: inline-flex;
    align-items: center;
    background: linear-gradient(86.93deg, #101828 0.18%, #233250 99.39%);
    border-radius: 7px;
}

.quantity-selector button {
    width: 32px;
    height: 32px;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
    background: transparent;
    transition: transform .5 ease;
}

.quantity-selector button:hover {
    transform: scale(1.05);
}

.quantity-selector button:active {
    transform: scale(1);
}

.quantity-selector span {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    text-align: center;
}

.add-cart-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: .5rem 1.2rem;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 400;
    transition: transform .5s ease;
    background: linear-gradient(86.93deg, #101828 .18%, #233250 99.39%);
}

.add-cart-btn:hover {
    transform: scale(1.05);
}

.add-cart-btn:active {
    transform: scale(1);
}

.alert {
    position: fixed;
    top: 90%;
    right: 50%;
    z-index: 9999;
    padding: 10px 15px;
    margin: 0;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.alert.success {
    background-color: #4CAF50;
    color: #fff;
}

.alert.warning {
    background-color: #FF9800;
    color: #fff;
}

.back-to-top {
    cursor: pointer;
    background-color: #555;
    color: #fff;
    padding: .5rem .8rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background .3s ease;
}

.back-to-top:hover {
    background-color: #333;
}

.btn-shop-page {
    font-weight: 600;
    padding-left: 90%;
    text-decoration: none;
    color: #101828;
}

.btn-shop-page:hover {
    text-decoration: underline;
}

/* Fim do css do shop */
/* Inicio do css do services*/
#service {
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    color: #000;
}

#service h2 {
    font-weight: 500;
    margin-bottom: 2%;
    padding-bottom: .5%;
    color: #101828;
    font-size: 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
}

.services {
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 1300px;
}

.box {
    margin: 0 auto;
    width: 90%;
    border: 2px solid rgba(0, 0, 0, .3);
}

/* Grid 3 col x 2 row */
.service-list {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
    gap: 1rem;
}

.service-list .service-card:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.service-list .service-card:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.service-list .service-card:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.service-list .service-card:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}

.service-list .service-card:nth-child(5) {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.service-list .service-card:nth-child(5) {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h3 {
        margin-bottom: 10%;
    }
}

/* Cards gerais*/
.service-card {
    position: relative;
    color: #000;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform .3s ease;
}

.service-card img {
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
    transition: transform .3s ease;
}

.service-card.active img {
    transform: scale(1.05);
}

.service-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background .3s ease;
}

.service-card h3 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

.service-overlay p,
.service-overlay .learn-more-btn {
    display: none;
}

.service-card.active .service-overlay {
    background: rgba(16, 24, 40, .54);
}

.service-card.active .service-overlay p,
.service-card.active .service-overlay .learn-more-btn {
    display: block;
    color: #fff;
    margin-bottom: .8rem;
}

/* Botão interno Learn More */
.learn-more-btn {
    background: linear-gradient(86.93deg, #101828 0.18%, #233250 99.39%);
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    cursor: pointer;
}

.learn-more-btn:hover {
    transform: scale(1.05);
}

.learn-more-btn:active {
    transform: scale(1);
}

/* Fim do css de services */
/* Inicio do css de about us */

#about {
    background-color: #fff;
    color: #000;
    padding: 2rem 1rem;
}

#about h2 {
    font-weight: 500;
    margin-bottom: 2%;
    padding-bottom: 0.5%;
    color: #101828;
    font-size: 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
}

/* Texto + imagens lado a lado */
#about .box {
    width: 88%;
    margin: 2rem auto;
    padding: 2rem;
    border: 2px solid rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

#about .text-content {
    flex: 0 0 45%;
    box-sizing: border-box;
    margin-left: 5%;
}

.about-text {
    font-weight: 400;
    font-size: 1.12rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

#about .image-content {
    flex: 0 0 34%;
    position: relative;
}

#about .image-content .image-wrapper {
    position: relative;
    right: 25%;
    width: 100%;
}

/* Imagem maior */
.big-cat {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

/* Imagem menor sobreposta */
.small-wrapper {
    background-color: #fff;
    position: absolute;
    width: 45%;
    bottom: 0;
    left: 0;
    transform: translate(-20%, 27%);
    z-index: 1;
    border: 16px solid #fff;
    border-radius: 15px;
    overflow: visible;
}

.small-cat {
    display: block;
    width: 100%;
    border-radius: 15px;
}

/* Fim do css de about us */
@media screen and (max-width: 935px) {

    /* Começo do css da section hero */
    .navbar {
        padding: 1.6rem 1.8rem;
    }

    .background {
        object-position: 34% center;
        transform: translate(-50%, -50%);
    }

    .hamburger {
        display: flex;
        align-items: flex-end;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 48, 94);
        color: #ffffff;
        position: absolute;
        top: 60px;
        right: 10px;
        width: 200px;
        padding: 1.5rem;
        border-radius: 50px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(100%);
        transition: opacity .5s ease, transform .5s ease;
    }

    .hero-content h2 {
        padding-top: 80%;
        font-size: 1.7rem;
    }

    .hero-content p {
        font-weight: 400;
        font-size: 1.1rem;
    }

    .btn-shop-now {
        font-size: 1.2rem;
    }

    .nav-links.active {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    .nav-links.active li {
        margin: 1rem 0;
    }

    .nav-links.active .btn-get-started {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
    }

    .dropdown-content {
        margin-top: 10px;
        z-index: 999;
    }

    .dropdown.open .dropdown-content {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    /* Fim do CSS da section hero */
    /* Inicio do CSS da shop */
    #shop {
        padding: 1rem;
    }

    #shop h2 {
        font-size: 1.8rem;
    }

    .products {
        border: none;
        width: 100%;
    }

    .products h3 {
        font-size: 1.1rem;
    }

    .filter-buttons .filter-btn {
        padding: .5rem .2rem;
    }

    .btn-shop-page {
        padding-left: 50%;
    }

    .search-box {
        display: none;
    }

    .shop-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search-wrapper {
        display: inline-flex;
        width: fit-content;
        position: relative;
    }

    .search-wrapper .search-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: transform .3s ease;
    }

    .search-input-mobile {
        position: absolute;
        right: 8%;
        width: 0;
        opacity: 0;
        transition: width .3s ease, opacity .3s ease;
        box-sizing: border-box;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 20px;
    }

    .search-wrapper.active .search-icon {
        transform: translateX(-160px);
    }

    .search-wrapper.active .search-input-mobile {
        width: 150px;
        opacity: 1;
        padding: .5rem;
        border: 1px solid #000;
    }

    .search-input-mobile:focus {
        outline: none;
        box-shadow: none;
    }

    #product-list {
        grid-template-columns: 1fr;
    }

    .alert {
        font-size: .8rem;
    }

    /* Fim do css da shop */
    /* Inicio do css de services */
    #service {
        padding: 1rem;
    }

    #service h2 {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

    .box {
        margin: 0 auto;
        width: 100%;
        border: none;
        padding: 0;
        margin-bottom: 5%;
    }

    /* Ajusta a .service-list para duas colunas */
    .service-list {
        margin: 0 auto;
        padding: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: .5rem;
    }

    .service-list .service-card:nth-child(1),
    .service-list .service-card:nth-child(2),
    .service-list .service-card:nth-child(3),
    .service-list .service-card:nth-child(4),
    .service-list .service-card:nth-child(5) {
        grid-column: auto;
        grid-row: auto;
    }

    .service-card {
        height: auto;
        aspect-ratio: 1/1;
    }

    /* Deixa a imagem preencher o card sem distorcer */
    .service-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .service-list .service-card:nth-child(5) {
        h3 {
            margin-top: 30px;
        }

        img {
            object-position: center 80%;
        }
    }

    .service-card h3 {
        font-size: 1.8rem;
    }

    /* Faz o 5º card ocupar as 2 colunas */
    .service-list .service-card:nth-child(5) {
        grid-column: 1 / span 2;
        aspect-ratio: 2/1;
    }

    /* Fim do css de services */
    /* Inicio do css de about us */

    #about h2 {
        font-size: 1.8rem;
    }

    #about .box {
        border: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .image-content {
        display: none;
    }

    #about .text-content {
        flex: 1;
        width: 100%;
        margin: 0;
    }

    .about-text {
        margin-top: 5%;
        font-size: .9rem;
        line-height: 1.4;
    }

    /* Fim do css de about us */
}