* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Formative Trial", "Montserrat";
    background-color: #000;
    color: #fff;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 117%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    position: relative;
    z-index: 10;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1.6rem 2.4rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
}

.paw-emoji {
    margin-right: .3rem;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: .5em .5rem;
    transition: opacity .3s ease;
}

.nav-links a:hover {
    opacity: 0.5;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 48, 94);
    list-style: none;
    padding: 0.5rem .6rem;
    min-width: 100px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li a {
    display: block;
    padding: 0.4rem 0;
    color: #eeeeee;
    white-space: nowrap;
}

.btn-get-started {
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s ease;
}

.btn-get-started:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateY(-2px);
}

.btn-get-started:active {
    transform: translateY(3px);
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
    margin-left: auto;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
}

.nav-links li:last-child {
    margin-left: auto;
}

.hamburger span.last-bar {
    width: 50%;
}

.hero {
    position: relative;
    z-index: 1;
    padding-top: 75px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.hero-content {
    max-width: 600px;
}

.hero-content h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2%;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.btn-shop-now {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.btn-shop-now:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 901px) {
    .hamburger {
        display: flex;
        align-items: flex-end;
    }

    .nav-links,
    .btn-get-started {
        display: none;
    }

    .hero-content h2 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}

.nav-links.active {
    display: flex !important;
    flex-direction: column;
    background-color: rgba(0, 48, 94);
    color: #ffffff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 1.5rem;
    border-radius: 50px;
}

.nav-links.active li {
    margin: 1rem 0;
}

.nav-links.active .btn-get-started {
    width: 100%;
    text-align: center;
}